[Unit]
Description=Beehive v2.0

[Service]
ExecStart=/home/pi/beehive/start.sh
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/beehive/

[Install]
WantedBy=multi-user.target